.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &_container {
    padding: rem(25px) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo {
    width: rem(148px);
    height: rem(63px);
    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &_menu {
    display: flex;
    align-items: center;
    gap: rem(50px);
  }
}
