.separator {
  //   background-color: var(--violet-6);
  &[data-orientation='horizontal'] {
    height: rem(1px);
    width: 100%;
  }
  &[data-orientation='vertical'] {
    height: 100%;
    width: rem(1px);
  }
}
