.primaryButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: rem(43px);
  transition:
    background-color,
    border-color 0.3s ease;

  label {
    transition: color 0.3s ease;
  }

  &_fill {
    background-color: var(--color-primary);
    label {
      color: var(--color-white);
    }
    &:hover {
      background-color: var(--color-hard-primary);
    }
  }
  &_border {
    background-color: transparent;
    border: 2px solid var(--color-primary);
    label {
      color: var(--color-primary);
    }
    &:hover {
      border-color: var(--color-hard-primary);
      label {
        color: var(--color-hard-primary);
      }
    }
  }
  &_ghost {
    background-color: rgba(86, 172, 89, 0.1);
    label {
      color: var(--color-primary);
    }
    &:hover {
      background-color: rgba(44, 116, 47, 0.2);
      label {
        color: var(--color-hard-primary);
      }
    }
  }

  &_small {
    padding: 0 rem(24px);
    height: rem(36px);
    label {
      font-size: rem(12px);
    }
  }
  &_medium {
    padding: 0 rem(32px);
    height: rem(45px);
    label {
      font-size: rem(16px);
    }
  }
  &_large {
    padding: 0 rem(40px);
    height: rem(51px);
    label {
      font-size: rem(16px);
    }
  }

  // label {
  //   color: var(--color-btn);
  //   cursor: pointer;
  //   text-box: trim-both cap alphabetic;
  // }
  // &_text {
  //   color: var(--color-btn);
  //   padding-bottom: rem(7px);
  //   border-bottom: 2px solid currentColor;
  // }

  // &_icon {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   width: rem(50px);
  //   height: rem(50px);
  //   background-color: var(--color-btn);
  //   border-radius: 50%;
  //   & svg {
  //     width: rem(17px);
  //     height: rem(17px);
  //   }
  // }
}
