.embla {
  overflow: hidden;
  height: 100%;
  &_container {
    display: flex;
    height: 100%;
    touch-action: pan-x pinch-zoom;
    flex-direction: column;
  }
  &_slide {
    flex: 0 0 auto;
    padding-bottom: rem(24px);
    height: auto;
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
