.about {
  &_container {
  }

  &_grid {
    padding-top: var(--spacing-section);
  }

  &_left {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: rem(20px);
    &_image {
      width: rem(380px);
      height: rem(380px);
      aspect-ratio: 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &_right {
    grid-column: span 6;

    &_paragraph {
      line-height: 1.5;
      max-width: rem(624px);
    }

    &_items {
      margin-top: rem(108px);
      display: grid;
      max-width: rem(650px);
      width: 100%;
      grid-template-columns: repeat(2, 1fr);
      row-gap: rem(60px);
      &_item {
        display: flex;
        max-width: rem(206px);
        flex-direction: column;
        gap: rem(10px);
      }
    }
  }
}
