.cartItem {
  &_imageContainer {
    display: flex;

    align-items: center;
    gap: rem(8px);
  }
  &_image {
    width: rem(120px);
    height: rem(100px);
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_info {
    flex-grow: 1;
  }
  &_remove {
    cursor: pointer;
    width: rem(22px);
    height: rem(22px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid var(--color-gray-2);
    & svg {
      width: rem(15px);
      height: rem(15px);
    }
  }
}
