// Font family will init new project
.font__inter {
  font-family: var(--font-inter);
}

.font__raleway {
  font-family: var(--font-raleway);
}

// Text color when init new project
.text__black {
  color: var(--black);
}

.text__white {
  color: var(--white);
}

.text__blue {
  color: var(--blue);
}

.text__vani {
  color: var(--vani);
}

.text__dark-grey {
  color: var(--dark-grey);
}

// Font weight when init new project
.font-weight__800 {
  font-weight: 800;
}

.font-weight__700 {
  font-weight: 700;
}

.font-weight__600 {
  font-weight: 600;
}

.font-weight__500 {
  font-weight: 500;
}

.font-weight__400 {
  font-weight: 400;
}

.font-weight__300 {
  font-weight: 300;
}

.font-weight__200 {
  font-weight: 200;
}

.font-weight__100 {
  font-weight: 100;
}

// Text transform
.text-transform__uppercase {
  text-transform: uppercase;
}

.text-transform__lowercase {
  text-transform: lowercase;
}

.text-transform__capitalize {
  text-transform: capitalize;
}
