@use "tool" as *;

:root {
  --spacing-section: 16rem;

  --white: #ffffff;
  --dark: #000000;
  --black: #000000;
  --blue: #0000ff;
  --vani: #fff8f8;
  --dark-grey: #292929;
  --bg-background: #111111;
}
