.slider {
  padding-top: rem(30px);
  overflow: hidden;

  &_item {
    flex: 0 0 auto;
    width: rem(450px);
    display: flex;
    flex-direction: column;
    gap: rem(20px);
    &_image {
      width: 100%;
      height: rem(450px);
      aspect-ratio: 1;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_icon {
        width: rem(50px);
        height: rem(50px);
        & svg {
          width: 100%;
          height: 100%;
          & path {
            stroke: var(--vani);
          }
        }
      }
    }
    &_tag {
      height: rem(40px);
      border: 1px solid var(--vani);
      padding-inline: rem(20px);
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: rem(40px);
    }
  }
}

.embla {
  overflow: visible;
  padding-right: rem(50px);
  &_container {
    display: flex;
    gap: rem(50px);
    will-change: transform;
    touch-action: pan-x pinch-zoom;
  }
}
