.text {
  font-style: normal;

  &__12 {
    font-size: rem(12px);
    line-height: 1.5em;
    letter-spacing: rem(-0.36px);
  }
  &__14 {
    font-size: rem(14px);
    line-height: 1.5em;
    letter-spacing: rem(-0.42px);
  }
  &__16 {
    font-size: rem(16px);
    line-height: 1.5em;
    letter-spacing: rem(-0.48px);
  }
  &__18 {
    font-size: rem(18px);
    line-height: 1.5em;
    letter-spacing: rem(-0.54px);
  }
  &__20 {
    font-size: rem(20px);
    line-height: 1.5em;
    letter-spacing: rem(-0.6px);
  }
  &__48 {
    font-size: rem(48px);
    line-height: 1.2em;
    letter-spacing: -0.48px;
  }
  &__24 {
    font-size: rem(24px);
    line-height: 1.2em;
    letter-spacing: rem(-0.24px);
  }
  &__36 {
    font-size: rem(36px);
    line-height: 122.222%;
    letter-spacing: rem(-0.72px);
  }
  &__30 {
    font-size: rem(30px);
    line-height: 126.667%;
    letter-spacing: rem(-0.3px);
  }
  &__18 {
    font-size: rem(18px);
    line-height: 1.2em;
    letter-spacing: rem(-0.18px);
  }
  &__16 {
    font-size: rem(16px);
    line-height: 0.88em;
    letter-spacing: rem(-0.16px);
  }
  &__20 {
    font-size: rem(20px);
    line-height: 1.3em;
  }
  &__24 {
    font-size: rem(24px);
    line-height: 1.2em;
    letter-spacing: rem(-0.24px);
  }
}

// =============== Text color ==============
.text__black {
  color: var(--black);
}

.text__white {
  color: var(--white);
}

.text__blue {
  color: var(--blue);
}

.text__vani {
  color: var(--vani);
}

.text__darkGrey {
  color: var(--dark-grey);
}

// =============== Font family ==============
.font {
  &__inter {
    font-family: var(--font-inter);
  }
  &__raleway {
    font-family: var(--font-raleway);
  }
}

// =============== Core ==============
.weight {
  &__extrabold {
    font-weight: 800;
  }

  &__bold {
    font-weight: 700;
  }

  &__semibold {
    font-weight: 600;
  }

  &__medium {
    font-weight: 500;
  }

  &__regular {
    font-weight: 400;
  }

  &__light {
    font-weight: 300;
  }

  &__extralight {
    font-weight: 200;
  }

  &__thin {
    font-weight: 100;
  }
}

.transform {
  &__uppercase {
    text-transform: uppercase;
  }
  &__lowercase {
    text-transform: lowercase;
  }
  &__capitalize {
    text-transform: capitalize;
  }
}
