.searchBar {
  display: flex;
  align-items: center;
  background-color: transparent;

  overflow: hidden;
  width: rem(498px);

  &_icon {
    padding: 0 rem(16px);
    display: flex;
    border-top-left-radius: rem(6px);
    border-bottom-left-radius: rem(6px);
    border: 1px solid var(--color-gray-2);
    border-right: none;
    align-items: center;
    width: rem(20px);
    height: rem(20px);
    height: rem(45px);
    flex: 1;
    gap: rem(8px);
    flex-shrink: 0;
  }
  &_input {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;

    color: var(--color-gray-9);
    font-size: rem(15px);
    font-weight: 400;
    line-height: rem(21px);
    &::placeholder {
      color: var(--color-gray-5);
    }
  }

  &_button {
    background-color: var(--color-primary);
    border: none;
    outline: none;
    padding: rem(10px);
    width: rem(100px);
    height: rem(45px);
    border-top-right-radius: rem(6px);
    border-bottom-right-radius: rem(6px);
    cursor: pointer;
    &:hover {
      background-color: var(--color-hard-primary);
    }
  }
}
