.hero {
  height: 100svh;
  position: relative;

  &_background {
    width: 100%;
    height: 100%;
    position: relative;

    & video,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  &_container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 8rem;

    &_inner {
      &_bottom {
        display: flex;
        gap: rem(349px);
        align-items: center;
        margin-top: rem(71px);
      }
    }
  }

  &_heading {
    &_word {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      &_italic {
        font-style: italic;
        mix-blend-mode: difference;
      }
      &_normal {
        mix-blend-mode: difference;
        font-style: normal;

        &:last-child {
          align-self: flex-end;
          justify-self: flex-end;
        }
      }
    }
  }
}
