.hero {
  margin-top: rem(24px);
  &_grid {
    gap: rem(16px);
    @include tablet {
      gap: rem(20px);
    }
    @include laptop {
      gap: rem(24px);
    }
  }
  &_mainContent {
    grid-column: span 8;
    grid-row: span 2;
    position: relative;
    &_content {
      position: absolute;
      top: 50%;
      left: rem(60px);
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: rem(28px);
      &_description {
        border-left: 1px solid var(--color-soft-primary);
        padding-left: rem(12px);
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        &_discount {
          background-color: var(--color-warning);
          display: inline-block;
          padding: rem(4px) rem(12px);
          border-radius: rem(5px);
        }
      }
    }
    &_image {
      width: 100%;
      height: rem(600px);
      border-radius: rem(10px);
      overflow: hidden;
      aspect-ratio: 872 / 600;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &_secondaryContent {
    grid-column: span 4;
    grid-row: span 1;
    position: relative;
  }
  &_tertiaryContent {
    grid-column: span 4;
    grid-row: span 1;
    position: relative;
  }

  &_smallImage {
    width: 100%;
    height: 100%;
    border-radius: rem(10px);
    overflow: hidden;
    aspect-ratio: 423 / 288;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
