.cartDrawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  &.active {
    pointer-events: auto;
    & .cartDrawer_overlay {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    & .cartDrawer_content {
      transform: translateX(0);
    }
  }
  &_content {
    position: fixed;
    top: 0;
    right: 0;
    width: rem(456px);
    height: 100svh;
    background-color: var(--color-white);
    z-index: 1000;
    padding: rem(40px);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_close {
        cursor: pointer;
        &:hover {
          color: var(--color-gray-6);
        }
      }
    }
    &_body {
      margin-top: rem(12px);
    }
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-gray-2);
      padding: 10px 0;
    }
  }
}
