.cartDrawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  &.active {
    pointer-events: auto;
    & .cartDrawer_overlay {
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
    & .cartDrawer_content {
      transform: translateX(0);
    }
  }
  &_content {
    position: fixed;
    top: 0;
    right: 0;
    width: rem(456px);
    height: 100%;
    max-height: 100svh;
    background-color: var(--color-white);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: rem(40px);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_close {
        cursor: pointer;
        &:hover {
          color: var(--color-gray-6);
        }
      }
    }
    &_inner {
      display: flex;
      flex-direction: column;
      gap: rem(12px);
      height: 100%;
    }
    &_body {
      flex-grow: 1;
      overflow-y: auto;
      max-height: calc(100% - rem(230px));
      // mask-image: linear-gradient(
      //   to bottom,
      //   transparent,
      //   var(--color-white) 10px,
      //   var(--color-white) calc(100% - 10px),
      //   transparent 100%
      // );
      margin-top: rem(12px);

      &::-webkit-scrollbar {
        width: rem(5px);
        height: rem(5px);
        background-color: transparent;
        border-radius: rem(2px);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--color-soft-primary);
        border-radius: rem(2px);
      }
      &_items {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
        padding-right: rem(12px);
      }
    }
    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-gray-2);
      padding: 10px 0;
    }
    &_footer {
      &_total {
        padding: rem(24px) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(12px);
      }
      &_buttons {
        display: flex;
        flex-direction: column;
        gap: rem(12px);
      }
    }
  }
}
