.itemOffer {
  border-top: 1px solid var(--dark-grey);
  padding-block: rem(45px);
  position: relative;
  cursor: pointer;
  &_header {
    position: relative;
    display: inline-block;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.5rem;
      background-color: var(--vani);
      transition: transform 0.3s linear;
      transform-origin: left;
      transform: scaleX(0);
    }
  }
  &:hover {
    .itemOffer_image {
      clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    .itemOffer_title {
      color: var(--vani);
    }
    .itemOffer_number {
      color: var(--vani);
    }
    .itemOffer_header::after {
      transform: scaleX(1);
    }
  }
  &_title {
    transition: color 0.3s ease-in-out;
    text-box: trim-both cap alphabetic;
  }

  &_number {
    position: absolute;
    top: 0.2rem;
    right: -3rem;
    transition: color 0.3s ease-in-out;
  }

  &_image {
    width: rem(230px);
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
    z-index: 3;
    clip-path: polygon(100% 50%, 0 50%, 0 50%, 100% 50%);
    transition: clip-path 0.3s linear;
    & img {
      width: 100%;
      height: auto;
    }
  }
}
