.footer {
  padding-top: var(--spacing-section);
  padding-bottom: rem(47px);
  &_left {
    display: flex;
    grid-column: span 6;
    flex-direction: column;
    justify-content: space-between;
    &_top {
      display: flex;
      flex-direction: column;
      gap: rem(30px);
      &_paragraph {
        max-width: rem(409px);
      }
    }

    &_bottom {
      display: flex;
      flex-direction: column;
      gap: rem(82px);
      &_item {
        display: flex;
        flex-direction: column;
        gap: rem(10px);
        & a {
          text-decoration: none;
          color: inherit;
        }
        > div {
          display: flex;
          flex-direction: column;
          gap: rem(14px);
        }
      }
    }
  }
  &_right {
    grid-column: span 6;
    padding-top: rem(243px);
    &_inner {
      max-width: rem(600px);
    }
  }
}
