.main {
  &_container {
    padding: rem(24px) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_logo {
    width: rem(183px);
    height: rem(38px);
    display: inline-block;
    & svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
